.product {
    background-color: aliceblue;
    border: 1px solid gainsboro;
    border-radius: 4px;
    height: 370px;
    width: 270px;
    padding: 10px;
    
    display: inline-block;
    margin:0 10px 10px 0;
}

.product h3 {
    text-align: center;
    padding-top: 0px;
    color: lightslategrey;
    margin: 0;


}

.product img {
    width: 250px;
}